body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

nav {
  background-color: #007bff;
  color: red;
  padding: 10px;
}

nav a {
  color: pink;
  text-decoration: none;
  margin-right: 10px;
}

footer {
  text-align: center;
  margin-top: 20px;
}
.navbar-light {
    background-color: #ffc0cb;
}

.navbar-light .navbar-brand,
.navbar-light .nav-link {
    color: #ffffff;
}

.navbar-light .nav-link:hover {
    color: #f8f9fa;
}
